.calendar{
    display: flex;
    transition: 0.5s;
}

.hiddenCalendar{
    transform:translateX(+600px);
    opacity: 0;
}

.hiddenCreator{
    transform:translateX(-400px);
    opacity: 0;
}

.todayColumn{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

.today{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    word-break: normal;
}

.calendarColumn{
    width: 65%;
    margin: 5px;
}

.calendarPage{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.calendarPage table{
    width: 100%;
    text-align: center;
    height: 280px;
    font-size: 2em;
}

.calendarPage td{
    border: 5px solid white;
    cursor: pointer;
}

.calendarPage td:hover{
    border: 5px solid grey !important;
    cursor: pointer;
}

.calendarControls{
    display: flex;
    justify-content: center;
    position: relative;
}

.calendarControls span{
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.activeCell{
    background-color: grey;
    border-radius: 0 !important;
    cursor: pointer;
}

.importantDay{
    border: dashed 5px black !important;
    border-radius: 50%;
}

.tasksForToday{
    display: flex;
    justify-content: center;
    flex-direction: column;
}